.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Example dir
example/.packages

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
